.card {
  background-color: var(--White);
  padding: 2rem 1.75rem;
  border-radius: 1rem;
  max-width: 35rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  top: -3.5rem;

  &-header {
    color: var(--Marine-blue);
  }
  &-description {
    color: var(--Cool-gray);
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}
